<template>
  <v-app>
    <div class="col-md-12 px-3">
      <v-row>
        <div class="col-md-6">
          <v-data-iterator
            :items="planets"
            :page="pagerForPlanets.page"
            hide-default-footer
            no-data-text="List empty."
          >
            <template v-slot:header>
              <v-toolbar dark color="blue darken-3" class="mb-1">
                <v-text-field
                  v-model="planetName"
                  flat
                  solo-inverted
                  hide-details
                  label="Search"
                  type="text"
                ></v-text-field>
              </v-toolbar>
            </template>

            <template v-slot:default="props" v-if="planets !== []">
              <v-row>
                <v-col v-for="item in props.items" :key="item.name" cols="12">
                  <v-card-title class="subheading font-weight-bold">{{
                    item.name
                  }}</v-card-title>

                  <v-divider></v-divider>

                  <v-list dense>
                    <v-list-item
                      v-for="(key, index) in filteredKeys(keys)"
                      :key="index"
                    >
                      <v-list-item-content>{{ key }}:</v-list-item-content>
                      <v-list-item-content class="align-end">{{
                        item[key]
                      }}</v-list-item-content>
                    </v-list-item>
                  </v-list>
                </v-col>
              </v-row>
            </template>

            <template v-slot:footer v-if="planets !== []">
              <v-row class="pa-2" align="center" justify="center">
                <span class="grey--text">Items per page</span>
                <v-menu offset-y>
                  <template v-slot:activator="{ on }">
                    <v-btn dark text color="primary" class="ml-2" v-on="on">
                      {{ pagerForPlanets.itemsPerPage }}
                    </v-btn>
                  </template>
                </v-menu>

                <v-spacer></v-spacer>
                <div class="col-md-6">
                  <span class="mr-4 grey--text">
                    Page {{ pagerForPlanets.page }} of
                    {{
                      numberOfPages(
                        pagerForPlanets.itemsCount,
                        pagerForPlanets.itemsPerPage
                      ) > 0
                        ? numberOfPages(
                            pagerForPlanets.itemsCount,
                            pagerForPlanets.itemsPerPage
                          )
                        : 1
                    }}
                  </span>
                  <v-btn
                    fab
                    dark
                    color="blue darken-3"
                    class="mr-1"
                    @click="formerPage(pagerForPlanets)"
                  >
                    <v-icon>mdi-chevron-left</v-icon>
                  </v-btn>
                  <v-btn
                    fab
                    dark
                    color="blue darken-3"
                    class="ml-1"
                    @click="nextPage(pagerForPlanets)"
                  >
                    <v-icon>mdi-chevron-right</v-icon>
                  </v-btn>
                </div>
              </v-row>
            </template>
          </v-data-iterator>
        </div>
        <div class="col-md-6">
          <v-card class="pa-3">
            <div class="col-md-12">
              <div class="row no-gutters">
                <v-text-field
                  color="black"
                  background-color="white"
                  dense
                  outlined
                  label="Planet name"
                  class="mr-2"
                  v-model="peopleName"
                  type="text"
                >
                </v-text-field>
                <v-btn class="btn success mt-1" outlined @click="getPeople">
                  Filter
                </v-btn>
              </div>
            </div>
            <hr />
            <v-list two-line>
              <div v-if="listEmpty(people)">
                <v-subheader>People</v-subheader>
                <v-list-item-group>
                  <template v-for="item in people">
                    <v-list-item :key="item.title">
                      <template v-slot:default>
                        <v-list-item-content>
                          <v-list-item-title
                            v-text="item.name"
                          ></v-list-item-title>
                          <v-list-item-subtitle
                            class="text--primary"
                            v-text="item.gender"
                          ></v-list-item-subtitle>
                        </v-list-item-content>
                      </template>
                    </v-list-item>
                  </template>
                </v-list-item-group>
              </div>
              <div
                v-else-if="requestLoading === true"
                align="center"
                justify="center"
              >
                <v-progress-circular indeterminate color="green">
                  ></v-progress-circular
                >
              </div>
              <div v-else>
                <v-subheader>List empty</v-subheader>
              </div>
            </v-list>

            <v-row class="pa-2" align="center" justify="center">
              <span class="grey--text">Items per page</span>
              <v-menu offset-y>
                <template v-slot:activator="{ on }">
                  <v-btn dark text color="primary" class="ml-2" v-on="on">
                    {{ pagerForPeople.itemsPerPage }}
                  </v-btn>
                </template>
              </v-menu>

              <v-spacer></v-spacer>

              <div class="col-md-6">
                <span class="mr-4 grey--text">
                  Page {{ pagerForPeople.page }} of
                  {{
                    numberOfPages(
                      pagerForPeople.itemsCount,
                      pagerForPeople.itemsPerPage
                    ) > 0
                      ? numberOfPages(
                          pagerForPeople.itemsCount,
                          pagerForPeople.itemsPerPage
                        )
                      : 1
                  }}
                </span>
                <v-btn
                  fab
                  dark
                  color="blue darken-3"
                  class="mr-1"
                  @click="formerPage(pagerForPeople)"
                >
                  <v-icon>mdi-chevron-left</v-icon>
                </v-btn>
                <v-btn
                  fab
                  dark
                  color="blue darken-3"
                  class="ml-1"
                  @click="nextPage(pagerForPeople)"
                >
                  <v-icon>mdi-chevron-right</v-icon>
                </v-btn>
              </div>
            </v-row>
          </v-card>
        </div>
      </v-row>
    </div>
  </v-app>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator";
import PlanetService from "@/services/PlanetService";
import PeopleService from "@/services/PeopleService";
import { Pager } from "@/helpers/pager";

@Component({})
export default class Login extends Vue {
  private planets: any[] = [];
  private people: any[] = [];
  private planetName: string = "";
  private peopleName: string = "";
  private keys = ["name", "climate", "gravity", "terrain"];
  private requestLoading: boolean = false;

  private pagerForPlanets: Pager = {
    itemsPerPageArray: [10],
    page: 1,
    itemsPerPage: 10,
    itemsCount: 0
  };

  private pagerForPeople: Pager = {
    itemsPerPageArray: [10],
    page: 1,
    itemsPerPage: 10,
    itemsCount: 0
  };

  private numberOfPages(itemsCount: number, itemsPerPage: number): number {
    return Math.ceil(itemsCount / itemsPerPage);
  }

  private filteredKeys(keys: string[]): string[] {
    return keys.filter(key => key !== `Name`);
  }

  private async created(): Promise<void> {
    await this.loadData();
  }

  private async loadData(): Promise<void> {
    this.requestLoading = true;

    try {
      await this.getPlanets();
      await this.getPeople();
    } catch (ex) {
      console.log(ex);
    }
  }

  @Watch("planetName")
  private async onPlanetNameChanged() {
    await this.getPlanets();
  }

  @Watch("pagerForPlanets.page")
  private async onPagerForPlanetsPageChaned() {
    await this.getPlanets();
  }

  @Watch("pagerForPeople.page")
  private async onPagerForPeoplePageChaned() {
    await this.getPeople();
  }

  private async getPlanets(): Promise<void> {
    this.planets = [];

    try {
      let response = await PlanetService.getList(
        this.planetName,
        this.pagerForPlanets
      );

      this.planets = response.results;
      this.pagerForPlanets.itemsCount = response.count;
    } catch (ex) {
      console.log(ex);
    }
  }

  private async getPeople(): Promise<void> {
    this.people = [];
    this.requestLoading = true;

    try {
      let response = await PeopleService.getList(
        this.peopleName,
        this.pagerForPeople
      );

      this.people = response.results;
      this.pagerForPeople.itemsCount = response.count;
      this.requestLoading = false;
    } catch (ex) {
      console.log(ex);
    }
  }

  private nextPage(pager: Pager): void {
    if (
      pager.page + 1 <=
      this.numberOfPages(pager.itemsCount, pager.itemsPerPage)
    )
      pager.page += 1;
  }

  private formerPage(pager: Pager): void {
    if (pager.page - 1 >= 1) pager.page -= 1;
  }

  private listEmpty(list: []): boolean {
    if (list.length > 0) return true;

    return false;
  }

  private setPageText(pager: Pager): string {
    let numberPages = this.numberOfPages(pager.itemsCount, pager.itemsPerPage);
    if (numberPages == 0) {
      return "Page 0 of 0";
    }

    return `Page ${pager.page} of ${numberPages}`;
  }
}
</script>
