<template>
  <v-app>
    <v-row justify="center" align="center">
      <v-col col="12" md="3">
        <v-col col="12" md="6" offset-md="3">
          <v-input>Sign in to my app</v-input>
        </v-col>
        <div v-if="errorShow === true">
          <v-alert type="error" dense>
            {{ errorText }}
          </v-alert>
        </div>
        <v-card class="pa-3">
          <div class="pt-3">
            <v-text-field
              label="Username"
              outlined
              v-model="model.username"
            ></v-text-field>
            <v-text-field
              label="Password"
              outlined
              type="password"
              v-model="model.password"
            ></v-text-field>
            <v-btn color="success" block @click="login(model)">Sign in</v-btn>
          </div>
        </v-card>
      </v-col>
    </v-row>
  </v-app>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import AuthService, { LoginModel } from "@/services/AuthService";

@Component({})
export default class Login extends Vue {
  private model: LoginModel = {
    username: "",
    password: ""
  };
  private errorShow: boolean = false;
  private errorText: string = "Incorrect username or password.";

  private login(): void {
    const result = AuthService.Login(this.model);
    if (result == true) {
      this.$router.push("List");
    }

    this.errorShow = true;
  }
}
</script>
