<template>
  <v-app>
    <v-app-bar app color="primary" dark v-if="isLogged === true">
      <v-spacer></v-spacer>

      <v-btn icon>
        <v-icon @click="logout()">
          mdi-logout
        </v-icon>
      </v-btn>
    </v-app-bar>
    <v-content>
      <router-view />
    </v-content>
  </v-app>
</template>

<script lang="ts">
import AuthService, { LoginModel } from "@/services/AuthService";
import { Vue, Component, Watch } from "vue-property-decorator";

@Component({})
export default class App extends Vue {
  private isLogged: boolean = false;

  @Watch("$store.state.isLogged")
  onIsLoggedChanged() {
    this.isLogged = this.$store.state.isLogged;
  }

  created() {
    if (localStorage.getItem("Login") !== null) {
      this.isLogged = true;
    }
  }

  private logout() {
    AuthService.Logout();
    this.isLogged = false;
  }
}
</script>
